<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
<style>
* {box-sizing: border-box}
body {
  
  font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 21px;
  font-weight: 700;
  width: 33%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color:lightgray;
}

.navbar a.active {
  background-color: ;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
</style>
<style>
body{
  background-image: url("https://image.similarpng.com/very-thumbnail/2021/01/Certificate-achievement-template--design-on-transparent-background-PNG.png");
   
  background-color: lightslategray;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: "3";
}
</style>
<body>
  <center> <font size="9"  face="times roman" ><i><b>  Certificate Catalouge System </b></i><br></font>
<font size="5"><font color="red">
<b>NMIT  </b>
</font></font></center>
<div class="navbar">
  <a class="" href="http://localhost:3000/">Home</a>  
  <a href="/progress">Progress</a> 
 <a href="/contact">Contact us</a>
</div>
       <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Given below are the list of certificates</p>

              <div class="container">
                  <div class="row">
                              
                 <table style=" width:200px "  ></table>
                   
                   <tr> 
                     
                        {{#each records}}<td>
                 
                   <img src="./Uploads/images/{{ this.img }}" alt="image" style="width:15%;margin:20px auto;">
                 </td>
                 {{/each}}
                 </tr>
                 </table>
                    </div></div>
                 </table>

              </body>
            </html>
            
© 2021 CertificateCatalouge, Inc.